body{
  font-family: NotoSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC, Microsoft YaHei, sans-serif !important;
  background-color:#f4f4f6 ;
}
header {
  position: fixed;
  right: 0;
  left: 0;
}
#link_bar {
  height: 25px;
  background-color: #f85606;
  display: flex;
}
.link_name1 {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  font-size: 12px;
  line-height: 25px;
}
.link_name1:hover {
  color: #d8dccd;
}
#app_link {
  height: 29px;
  width: 145px;
  background-color: #ad3c04;
  margin-left: 56%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
}
.link_name {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  align-content: center;
}
.link_name:hover {
  color: #d8dccd;
}
.daraz_logo1 {
  height: 20px;
  width: 20px;
  margin: 4px 10px 2px 5px;
}

.nav_bar {
  height: 66px;
  background-color: #f85606;
  display: flex;
}
.daraz1 {
  height: 48px;
  width: 120px;
  margin-left: 29.7%;
  margin-top: 6px;
}
.search_bar {
  align-self: center;
  margin-left: 70px;
  width: 696px;
  height: 36px;
  border: 0;
  border-radius: 10px 0px 0px 10px;
  color: #9eaac4;
}
.search_bar:focus {
  border-style: none;
}
.icon_container {
  height: 36px;
  width: 50px;
  background-color: #fff;
  align-self: center;
  border-radius: 0px 10px 10px 0px;
}
.icon_container1 {
  width: 45px;
  height: 28px;
  background-color: #ffe1d2;
  margin-top: 4px;
  border-radius: 7px;
}
.search_icon {
  color: #fb8a53;
  font-size: 20px;
  margin: 5px 0px 0px 14px;
  text-align: center;
  align-content: center;
}

.nav_container {
  height: 38px;
  width: 245px;
  align-self: center;
  display: flex;
  margin-left: 13px;
}
.log_in a {
  text-decoration: none;
}
.log_in {
  height: 40px;
  width: 77px;
  text-align: center;
  align-content: center;
  border-radius: 9px;
}
.log_in:hover {
  background-color: #c24608;
}
.nav_icon {
  color: #fff;
  font-size: 19px;
}
.nav_name {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin-left: 7px;
}
#mark {
  color: #fff;
  align-self: center;
  margin-left: 12px;
}
.globe {
  display: flex;
  align-items: center;
  margin-left: 24px;
  border-radius: 9px;
}
.globe:hover {
  background-color: #c24608;
}
.globe_icon {
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}
#language {
  font-size: 16px;
  color: #fff;
  margin-left: 5px;
  text-decoration: none;
}
.down {
  color: #fff;
  font-size: 12px;
  margin-left: 3px;
  text-decoration: none;
}
.shopping_cart {
  align-self: center;
  margin-left: 25px;
  height: 40px;
  width: 42px;
  align-content: center;
  text-align: center;
  border-radius: 9px;
}
.shopping_cart:hover {
  background-color: #c24608;
}
.cart {
  font-size: 25px;
  color: #fff;
}

/*Main_part*/
main {
  background-color: #f5f5f5;
}
#banner_container {
  height: 345px;
  padding-top: 105px;
  display: flex;
}
#category_container {
  width: 238px;
  height: 344px;
  background-color: #fff;
  margin-left: 37px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
}
#category_name_container {
  height: 344px;
  width: 238px;
  margin-top: 9px;
}
.cotegory_name a {
  text-decoration: none;
  color: #798082;
  font-size: 14px;
}
.cotegory_name {
  margin: 2px;
  padding: 3.2px;
}
.cotegory_icon {
  color: #798082;
  font-size: 14px;
}
.right_icon {
  float: right;
  font-size: 16px;
  margin-right: 10px;
  color: #fff;
}
.cotegory_name:hover {
  background-color: #f0e8e8;
  .cotegory_icon {
    color: #f85606;
  }
  .right_icon {
    color: #f85606;
  }
  .name {
    color: #f85606;
  }
}
.banner_image {
  height: 344px;
  width: 938px;
  margin: 0 22px 0 19px;
  border-radius: 15px;
}

#banner_bottom {
  height: 42px;
  background-color: #fff1eb;
  width: 1195px;
  margin: 18px 0 0 35px;
  border-radius: 15px;
  display: flex;
}
#banner_bottom:hover {
  background-color: #fdd6c5;
}
.banner_bottom_box a {
  display: flex;
  text-decoration: none;
  flex-wrap: nowrap;
  flex-shrink: 1;
}
.banner_bottom_box {
  align-content: center;
}
.banner_bottom_img {
  margin-left: 15px;
}
.banner_bottom_name {
  color: black;
  margin: 3px 0 0 6px;
  font-size: 15px;
}
.banner_bottom_gap {
  color: #9eaac4;
  align-content: center;
  margin: 0 4px 0 18px;
}

 /*category*/
 .category_heading_product {
  color: #424242;
  font-size: 22px;
  padding: 10px 0 0 40px;
}

#category_container_product {
  height: 1235px;
  width: 1200px;
  margin: 6px 0 0 34px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.product_container {
  height: 290px;
  margin-top: 17px;
  display: flex;
}
.product_container_main {
  height: 290px;
  width: 189px;
  margin-left: 8px;
  background-color: #ffffff;
}
.product_image {
  height: 189px;
  width: 189px;
  border: 0;
}
.product_name {
  height: 36px;
  width: 173px;
  font-size: 14.5px;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 0 0 10px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 600;
  text-decoration: none;
  color: #212121;
}
.product_price {
  display: flex;
  padding: 6px 0 0 7px;
}
.price {
  color: #f85606;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}
.discount {
  color: #212121;
  font-size: 12px;
  margin: 6px 0 0 9px;
  opacity: 0.8;
  text-decoration: none;
}
.ratting {
  padding: 2px 0 0 7px;
  color: #212121;
}
.fa-star {
  color: #faca51;
  font-size: 10px;
}
.product_container a {
  text-decoration: none;
}

/*Footer parts*/
footer {
  background-color: #f4f4f6;
}
.footer_first{
  height: 320px;
  background-color: #f4f4f6;
 
}
.info_container {
  height: 273px;
  width: 594px;
  
  margin: 31px 0 0 41px;
  display: flex;
}
.info_small {
  height:273px ;
  width: 297px;
  
  display: flex;
  flex-direction: column;
}
.heading_footer {
  height: 35px;
  width: 297px;
  
  color: #0f136d;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-decoration: none;
}
.topic_footer {
  height: 18px;
  width: 297px;
 
  font-weight: 200;
    line-height: 17px;
    list-style: none;
    color: #0f136d;
    text-decoration: none;
    font-size: 12px;

}
.topic_footer:hover {
  text-decoration: underline;
}
